<div class="container">
  <div class="row mt-4">
     <div class='col-2 mx-auto'>
       <%= render 'layouts/sideber', tag_lists: @tag_lists %>
    </div>

    <div class='ml-1 col-9 mt-4'>
      <h3>商品情報編集画面</h3>
      <div class='bg-warning rounded-pill p-1 mb-3'></div>

       <%= form_with model:[@tag, @blog] do |f| %>

        <div class="form-row">
          <%= f.label :商品名, class: 'col-3 col-form-label font-weight-bold' %><br />
          <%= f.text_field :title, autofocus: true, autocomplete: "inputTitle", class: 'col' %>
        </div>

        <div class="form-row mt-3">
          <%= f.label :画像, class: 'col-3 col-form-label font-weight-bold' %><br />
          <%= f.file_field :image, accept: "image/*", class: 'col'  %>
        </div>

        <div class="form-row mt-3">
          <%= f.label :紹介文, class: 'col-3 col-form-label font-weight-bold' %><br />
          <%= f.text_area :body, rows: '5', autofocus: true, autocomplete: "inputBody", class: 'col'  %>
        </div>

        <div class="form-row mt-3">
          <%= f.label :商品ジャンル, class: 'col-3 col-form-label font-weight-bold' %>
          <%= f.select :genre,
          [["電化製品", "電化製品"],
          ["インテリア", "インテリア"],
          ["食器", "食器"],
          ["食品", "食品"]], include_blank: "選択して下さい", class: 'col'  %>
        </div>

        <div class="form-row mt-3">
          <%= f.label :おすすめしたい人, class: 'col-3 col-form-label font-weight-bold' %><br />
          <%= f.text_field :man, autofocus: true, autocomplete: "inputMan", class: 'col'  %>
        </div>

       <div class="form-row mt-3">
          <%= f.label :商品が購入できるリンク, class: 'col-3 col-form-label font-weight-bold' %><br />
          <%= f.text_field :link, autofocus: true, autocomplete: "inputLink", class: 'col'  %>
        </div>

        <!--星レビュー機能-->
        <div class="form-row mt-3">
          <%= f.label :おすすめ度, class: 'col-3 col-form-label font-weight-bold' %>
          <div id="star-rate<%= @blog.id %>">
            <script>
              $('#star-rate<%= @blog.id %>').empty();
              $('#star-rate<%= @blog.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf  : '<%= asset_path('star-half.png') %>',
              half      : true,
              score: '<%= @blog.star %>',
              scoreName: 'blog[star]',
              });
            </script>
          </div>
        </div>
        <!--タグ機能-->
        <div class="form-row mt-3">
          <%= f.label :タグ, class: 'col-3 col-form-label font-weight-bold' %>
          <%= f.text_area :tag_ids, value: @tag_list, placeholder: "タグをつける。複数つける場合は','で区切ってください。", class: 'col'  %>
        </div>

         <div class="text-right mt-3">
           <%= f.submit "変更する", class: 'btn btn-info' %>
        </div>
      <% end %>


    </div>
  </div>
</div>