<div class="container">
  <div class="row mt-4">
    <div class='mx-auto col-2'>
      <%= render 'layouts/sideber', tag_lists: @tag_lists %>
    </div>

    <div class='ml-1 col-9 mt-4'>
      <div class="text-danger">
        <% if @blog.errors.any? %>
        <%= @blog.errors.count %>件のエラーが発生しました
        <ul>
          <% @blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
      </div>

      <h3>商品をすすめる</h3>
      <div class='bg-warning rounded-pill p-1 mb-3'></div>

      <p>買ってみて、使ってみて、良かった商品を教えてください。<p>

      <%= form_with model: @blog, local: true do |f| %>

      <div class="form-row">
          <%= f.label :商品名, class: 'col-3 col-form-label font-weight-bold' %>
          <%= f.text_field :title, autofocus: true, autocomplete: "title", class: 'col' %>
      </div>

      <div class="form-row mt-3">
        <%= f.label :画像, class: 'col-3 col-form-label font-weight-bold' %>
        <%= f.file_field :image, accept: "image/*", class: 'col' %>
      </div>

      <div class="form-row mt-3">
        <%= f.label :紹介文, class: 'col-3 col-form-label font-weight-bold' %><br />
        <%= f.text_area :body, rows: '5', autofocus: true, autocomplete: "body", class: 'col' %>
      </div>

      <div class="form-row mt-3">
        <%= f.label :商品ジャンル, class: 'col-3 col-form-label font-weight-bold' %>
        <%= f.select :genre,
        [["電化製品", "電化製品"],
          ["インテリア", "インテリア"],
          ["食器", "食器"],
          ["食品", "食品"]], include_blank: "選択して下さい", class: 'col' %>
      </div>

      <div class="form-row mt-3">
        <%= f.label :おすすめしたい人, class: 'col-3 col-form-label font-weight-bold' %><br />
        <%= f.text_field :man, autofocus: true, autocomplete: "man", class: 'col' %>
      </div>

      <div class="form-row mt-3">
        <%= f.label :商品が購入できるリンク, class: 'col-3 col-form-label font-weight-bold' %><br />
        <%= f.text_field :link, autofocus: true, autocomplete: "link", class: 'col', placeholder: "https://〜リンクを入力してください。" %>
      </div>

      <!--星レビュー機能-->
      <div class="form-row mt-3">
        <%= f.label :おすすめ度, class: 'col-3 col-form-label font-weight-bold' %>
        <div id="star">
        <%= f.hidden_field :star, id: :review_star, class: 'col' %>
        </div>
        <script>
          $('#star').empty();
          $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'blog[star]',
          half: true,
          });
        </script>
      </div>

      <!--タグ機能-->
      <div class="form-row mt-3">
        <%= f.label :タグ, class: 'col-3 col-form-label font-weight-bold' %>
        <%= f.text_field :tag_ids, id: :tag_ids, autofocus: true, placeholder: "タグをつける。複数つける場合は','で区切ってください", class: 'col' %>
      </div>
      <div class="text-right mt-3">
        <%= f.submit "投稿する", class: 'btn btn-info' %>
      </div>
      <% end %>


    </div>
  </div>
</div>