<div class="container">
  <div class="row mt-4">
    <div class='mx-auto col-2'>
      <%= render 'layouts/sideber', tag_lists: @tag_lists %>
    </div>

    <div class='ml-1 col-9'>
      <p id="notice"><%= notice %></p>
      <h3><%= @blog.title %></h3>
      <div class='bg-warning rounded-pill p-1 mb-3'></div>

      <div class='row'>
        <div class='col-4'>
          <% if @blog.image.attached? %>
          <%= image_tag @blog.image, size: "250x250" %>
          <% else %>
          <%= image_tag asset_path('no_image.jpg'), size: "250x250" %>
          <% end %>
        </div>
        <div class='col-8'>
          <table class="mt-table table-borderless">
            <tbody>
              <thead>
                <tr>
                  <th class="col-5"></th>
                  <th class="col-7"></th>
                  <th colspan="2"></th>
                </tr>
              </thead>
                <tr>
                  <td class="font-weight-bold">商品ジャンル</td>
                  <td><%= @blog.genre %></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">おすすめしたい人</td>
                  <td><%= @blog.man %></td>
                </tr>
                <tr>
                  <td class="font-weight-bold">おすすめ度</td>
                  <td>
                    <div id="star-rate<%= @blog.id%>">
                      <script>
                        $('#star-rate<%= @blog.id %>').empty();
                        $('#star-rate<%= @blog.id%>').raty({
                        size      : 36,
                        starOff   : '<%= asset_path('star-off.png') %>',
                        starOn    : '<%= asset_path('star-on.png') %>',
                        starHalf  : '<%= asset_path('star-half.png') %>',
                        half      : false,
                        readOnly: true,
                        score: <%= @blog.star %>,
                        });
                      </script>
                    </div>
                  </td>
                </tr>
            </tbody>
          </table>
      <div class="mt-3 font-weight-bold">おすすめポイント</div>
        <div><%= @blog.body %></div>
      <div class="mt-3 font-weight-bold">購入する</div>
        <%= Rinku.auto_link(@blog.link, :all, 'target="_blank"').html_safe %>
      </div>
    </div>

    <div class='mt-3'>
      <% @blog.tags.each do |list| %>
      <%= link_to list.tagname, blogs_path(tag_id: list.id), class: 'btn btn-outline-info mx-2' %>
      <% end %>
    </div>


    <!--商品をおすすめしたユーザー-->
    <div class='mt-4 mb-3 h5 font-weight-bold'>この商品をおすすめした人</div>
    <div class='mt-3 px-2 py-2 border border-info rounded'>
        <div class = "row ml-2">
          <div class = "col-2 rounded-circle">
            <%= link_to user_path(@user.id) do %>
                <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image, size: "100x100", class: 'rounded-circle' %>
                <% else %>
                <%= image_tag asset_path('no_image.jpg'), size: "100x100", class: 'rounded-circle' %>
                <% end %>
            <% end %>
          </div>

          <div class="col">
            <div class='mt-2 row-3'>
              <div class='font-weight-bold'>
               <%= link_to @user.name, user_path(@user.id), class: 'text-info font-weight-bold' %>
              </div>
              <div class='row-3'>
                   <%= @user.introduction %>
              </div>
            </div>
          </div>

         </div>
      </div>

<!--コメント一覧-->
    <div class="mt-3 text-right">コメント件数：<%= @blog.comments.count %></div>

    <% @blog.comments.each do |comment| %>
      <div class="list-group-item flex-column align-items-start mt-2">
        <p><%= link_to comment.user.name, user_path(comment.user.id), class: 'text-info font-weight-bold' %></p>
        <p class="mb-1"><%= comment.comment %></p>
        <div class="text-right">
          <p>
            <%= comment.created_at.strftime('%Y/%m/%d') %> |
            <span>感情分析スコア<%= comment.score %></span> |
            <% if comment.user == current_user %>
            <%= link_to '削除', blog_comment_path(@blog.id, comment.id), confirm: 'Are you sure?', method: :delete, class: 'text-primary' %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>

<!--コメント投稿-->
    <% if user_signed_in? %>
    <div class='row-9 form-group mt-3'>
      <%= form_with model:[@blog, @comment], local: false do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントを書いてください。", class: "form-control" %>
        <div class='text-right mt-2'>
        <%= f.submit "コメントを送信",class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
    <% end %>

    <% if user_signed_in? && current_user.id == @blog.user_id %>
      <div class='row mt-2'>
        <p class='mr-2'><%= link_to "商品を編集", edit_blog_path(@blog.id), class: "btn btn-info" %></p>
        <p><%= link_to "商品を削除", blog_path(@blog.id), method: :delete, class: "btn btn-danger" %></p>
      </div>
    <% end %>

    </div>
  </div>
</div>