<div class="container">
  <div class="row mt-4">
    <div class='col-12 mt-4'>
      <p id="notice"><%= notice %></p>
      
      <h3>記事一覧画面（admin）</h3>
      <div class='bg-warning rounded-pill p-1'></div>

      <table class='table table-hover table-inverse'>
        <thead>
            <tr>
              <th>会員ID</th>
              <th>画像</th>
              <th>タイトル</th>
              <th>投稿ユーザー</th>
              <th colspan="4"></th>
            </tr>
        </thead>
        <% @blog.each do |blog| %>
        <tbody>
          <tr>
            <td>
              <%= blog.id %>
            </td>
            <td>
              <% if blog.image.attached? %>
              <%= image_tag blog.image, size: "70x70" %>
              <% else %>
              <%= image_tag 'no_image', size: "70x70" %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_blog_path(blog.id) do %>
              <%= blog.title %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_user_path(blog.user.id) do %>
              <%= blog.user.name %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>

    </div>
  </div>
</div>
