<div class="container">
  <div class="row">
    <div class='mx-auto col-12 mt-4'>

      <div class="text-right">
        <% if admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        <% else %>
        <%= link_to "おすすめを教えて！", '/' %>
        <% end %>
      </div>

      <div class="mt-2 text-center">
        <h1 class=>おすすめを教えて！管理者用サイト</h1>
      </div>

      <div class="mt-5 border-top border-bottom">
        <% if admin_signed_in? %>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <div class="navbar-nav">
              <%= link_to "会員一覧", admin_users_path, class: 'nav-link font-weight-bold' %>
              <%= link_to "記事一覧", admin_blogs_path, class: 'nav-link font-weight-bold' %>
              <%= link_to "タグ一覧", admin_tag_path, class: 'nav-link font-weight-bold' %>
            </duv>
          </div>
        </nav>
        <% else %>
        <% end %>
      </div>

    </div>
  </div>
</div>