<div class="container">
  <div class="row">
    <div class='mx-auto col-12 mt-4'>

      <div class="text-right">
        <% if user_signed_in? %>
        ようこそ <%= current_user.name %> さん｜<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "新規会員登録", new_user_registration_path %>｜<%= link_to "ログイン", new_user_session_path %> | <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
        <% end %>
      </div>

      <div class="mt-2">
        <%= link_to '/' do%>
        <!--<img src="../../assets/logo.png" class="rounded mx-auto d-block" alt="おすすめを教えてロゴ">-->
        <%= image_pack_tag "logo.png" , class: "rounded mx-auto d-block" %>
       
        <% end %>
      </div>

      <div class="mt-5 border-top border-bottom">
      <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <div class="navbar-nav">
            <%= link_to "商品を見る", '/', class: 'nav-link font-weight-bold' %>
            <%= link_to "商品をすすめる", new_blog_path, class: 'nav-link font-weight-bold mx-5' %>
            <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link font-weight-bold' %>
          </duv>
        </div>
      </nav>
      <% else %>
      <% end %>

    </div>

    </div>
  </div>
</div>